<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{ .Site.Author.name }}" name="author">
  <meta property="og:site_name" content="Zachary Hamed" />
  <title>
      {{- block "title" . -}}
    {{- .Site.Title -}}
    {{- if and .Title (ne .Title .Site.Title) }}
    - {{ .Title }}
    {{- end -}}
      {{- end -}}
  </title>
  
  <link href="{{ "assets/css/style.css" | relURL }}?{{ .Site.Params.theme_seconds }}" rel="stylesheet">
  <link href="{{ "assets/css/highlight.css" | relURL }}?{{ .Site.Params.theme_seconds }}" rel="stylesheet">
  <link href="{{ "assets/css/alpine.css" | relURL }}?{{ .Site.Params.theme_seconds }}" rel="stylesheet">
  {{ partialCached "alpine.html" . }}
  {{ partial "microblog_head.html" . }}
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
  </style>
  <link rel="stylesheet" href="https://use.typekit.net/tpe8ofv.css">
</head>
