<div class="header-container-outer">
    <div class="header-container">
        <div class="accent-bar-outer">
            <div class="accent-bar-inner">
                <div class="accent-bar">
                    <a href="https://blog.zmh.org/" class="site-title h-card">
                        <img src="https://raw.githubusercontent.com/gammasoft/fatcow/refs/heads/master/32x32/christmas_tree.png" class="site-image">
                        zmh.org
                    </a>
                    <nav class="nav-links">
                        {{ if ne .IsHome true }}
                        <!--<a class="nav-link" href="/"> <span class="arrow">←</span> Home</a>-->
                        {{ end }}
                        {{ range .Site.Menus.main }}
                            {{ if .Page.Params.redirect_url }}
                                <a href="{{ .Page.Params.redirect_url }}" class="nav-link">{{ .Name }}</a>
                            {{ else }}
                                <a href="{{ .URL | relLangURL | safeURL }}" class="nav-link">{{ .Name }}</a>
                            {{ end }}
                        {{ end }}
                        <!--<a class="nav-link" href="https://micro.blog/{{ .Site.Author.username }}" rel="me">Also on Micro.blog</a>-->
                        <a class="nav-link" href="/newsletter">Subscribe</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
