{{ define "main" }}
<div class="content-wrapper">
  <div class="main-content">
    <ul id="post-list" class="h-feed">
    {{ if or .IsHome .Site.Params.paginate_categories }}
      {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") }}
      {{ $list := $paginator.Pages }}
      {{ range $list  }}
        {{ partial "post-item.html" . }}
      {{ end }}
    {{ else }}
      {{ $list := where .Site.Pages.ByDate.Reverse "Type" "post" }}
      {{ range $list  }}
        {{ partial "post-item.html" . }}
      {{ end }}
    {{ end }}
    </ul>

    {{ if .IsHome }}
      {{ if .Site.Params.paginate_home }}
        {{ partial "pagination" . }}
      {{ end }}
    {{ else if .Site.Params.paginate_categories }}
      {{ partial "pagination" . }}
    {{ end }}
  </div>

  <div class="sidebar">
    <!-- Add your sidebar content here -->
    <!-- <h3>About</h3>
    <p>{{ .Site.Params.description }}</p> -->
    
    <!-- <h3>Recent Posts</h3>
    <ul>
      {{ range first 5 (where .Site.RegularPages "Type" "post") }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul> -->
  </div>
</div>
{{ end }}
